@using MauiApp1.Areas.Chat.Models;
<div id="content-div" class="content-div">

    <div id="list-content-group-div" class="list-content-group-div" @onscroll="HandleScrollEvent">
        @{
            DateTime currentdatetime = DateTime.MinValue;
            DateTime currentdateMinusSixDays = DateTime.MinValue;
            string dateHeader = string.Empty;
         }
            

        @foreach (IMessage message in _messageList)
        {
            @if (currentdatetime.ToLocalTime().Date != message.TimeStamp.ToLocalTime().Date)
            {
                currentdatetime = message.TimeStamp;

                if (currentdatetime.ToLocalTime().Date == DateTime.Now.Date)
                {
                    dateHeader = "Today";
                }
                else
                {
                    currentdateMinusSixDays = DateTime.Now.Date.AddDays(-7);
                    if (currentdateMinusSixDays < currentdatetime.Date)
                    {
                        dateHeader = currentdatetime.ToLocalTime().Date.DayOfWeek.ToString();
                    }
                    else
                    {
                        dateHeader = currentdatetime.ToLocalTime().Date.ToString("dd/MM/yyyy");
                    }
                }

                <div class="date-header-div">
                    <label class="date-header-label">@dateHeader</label>
                </div>
            }

            @switch (message.IsUserMessage)
            {
                case true:

                    
                    <div class="user-sent-message-div">
                        @if (!string.IsNullOrEmpty(message.MessageImage))
                        {
                            @*<div class="image-container">
                                
                            </div>*@

                            <img class="message-image" src="@(message.MessageImage)" />
                            @if (!string.IsNullOrEmpty(message.MessageText))
                            {
                                <div class="message-text-label">@((MarkupString)message.MessageText)</div>
                                
                            }
                            
                        }
                        else if (!string.IsNullOrEmpty(message.MessageText))
                        {
                            @*<div class="text-container">
                                
                            </div>*@

                            <label class="message-text-label">@((MarkupString)message.MessageText)</label>
                        }
                        
                        <div class="time-stamp-container-div">
                            <label class="time-stamp-label">@message.TimeStamp.ToLocalTime().ToString("hh:mm tt").ToUpper()</label>
                            <img class="user-message-check-image" src="resources/public/icons/uniconsSolid/check_white.svg">
                        </div>
                    </div>

                    break;

                case false:

                    <div class="server-sent-message-div">

                        @if (!string.IsNullOrEmpty(message.MessageImage))
                        {
                            <img class="message-imahe" src="@(message.MessageImage)" />

                        }
                        else if (!string.IsNullOrEmpty(message.MessageText))
                        {

                            <label class="message-text-label">@((MarkupString)message.MessageText)</label>
                        }
                        
                        @*<div class="message-text-label">@((MarkupString)message.MessageText)</div>*@

                        <div class="server-sent-time-container-div">
                            <label class="time-stamp-label">@message.TimeStamp.ToLocalTime().ToString("hh:mm tt").ToUpper()</label>
                        </div>
                                                
                    </div>
                    @*<div class="server-sent-message-blank-div"/>*@

                    break;
            }
        }

        

    </div>

    <div class="footer-content-group-div">
        
        <div class="textarea-container">

            <textarea class="chat-input" id="textinput" placeholder="@SetPlaceholder()" @onfocus="ChatInput_Focused" @bind="@_userMessageText" maxlength="250"/> 

        </div>

        <div class="buttonarea-container">

            <button class="send-button" @onclick="async ()=> await UploadPhoto()">
                <img class="sendimage-icon" src="/resources/public/icons/userInterface/cameraSvg.svg"/>
            </button>

            <button class="send-button" @*@onclick="async ()=> await UploadPhoto()"*@>
                <img class="sendimage-icon" src="resources/public/icons/userInterface/microphone.png" />
            </button>

            <button class="send-button" @onclick="async ()=> await SendButton_Clicked()">
                <img class="white-icon" src="resources/public/icons/userInterface/paper-airplane.png" />
            </button>

        </div>
    </div>
</div>

<style>
    .user-sent-message-div > a, a:active, a:visited, a:link {
        color: #77A9B2 !important;
    }

    .user-sent-message-div > a:hover, a:focus {
            color: #77A9B2 !important;
        }

</style>