@model DataEntryTest.Models.EdsTrainingSession

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EdsTrainingSession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMoved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMoved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSkipped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSkipped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCustomerAddedTrainingSession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCustomerAddedTrainingSession)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonForReschedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReasonForReschedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadonForSkipping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadonForSkipping)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkEdsDailyPlanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkEdsDailyPlanNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
