@model DataEntryTest.Models.EdsExercise

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EdsExercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSkipped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSkipped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCustomerAddedExercise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCustomerAddedExercise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkExerciseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkExerciseType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkTraining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkTraining.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
