@model DataEntryTest.Models.EdsExercise

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EdsExercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSkipped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSkipped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCustomerAddedExercise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCustomerAddedExercise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkExerciseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkExerciseType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkTraining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkTraining.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
