@model DailyMealEditModel
@{
    bool isEditMode = Model.Id != 0 && !Model.IsCopy;
}

@if (isEditMode)
{
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <i data-feather="alert-circle"></i>
        <div class="ms-2">
            You are in <b>EDIT</b> mode for Plan ID @Model.Id. Please note that when editing a daily plan, meal deletions are not allowed. You can still modify the nutritional targets and/or add a new meal.
        </div>
    </div>
}

@if (Model.IsCopy)
{
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <i data-feather="alert-circle"></i>
        <div class="ms-2">
            You are in <b>COPY</b> mode for Plan ID @Model.Id. This will save to a new nutritional daily plan. Take note that only one daily plan can exist for a day.
        </div>
    </div>
}

<h4>Edit Daily Nutritional Plan</h4>
<p>Edit this daily nutritional plan here.</p>

<div id="dailyplan_editor">
    <div class="border-bottom mb-3">
        <span class="fs-5">Daily Plan Parameters</span>
    </div>
    <p>
        <span class="me-2">Plan Owner:</span>
        <span><a asp-action="Details" asp-controller="User" asp-route-id="@Model.CurrentUser.Id">@Model.CurrentUser.FirstName @Model.CurrentUser.LastName (ID: @Model.CurrentUser.Id)</a></span>
    </p>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label" asp-for="Date">Plan Date</label>
            @if (isEditMode)
            {
                <input type="date" class="form-control disabled" asp-for="Date" data-bind="value: Date" readonly/>
            }
            else
            {
                <input type="date" class="form-control" asp-for="Date" data-bind="value: Date" required />
            }          
        </div>
        @if (!isEditMode)
        {
            <div class="col-md-6 mb-3">
                <label class="form-label" asp-for="NumberOfDaysToCopy">Number of Days to Copy Plan</label>
                <input type="number" class="form-control" asp-for="NumberOfDaysToCopy" data-bind="value: DaysToExtrapolate" />
                <div class="form-text text-muted">
                    <span>This indicates the number of days in the future starting from the plan date that this plan will be copied over.</span>
                    <span>Please note that days with already existing plans will not be overwritten.</span>
                </div>
            </div>
        }
    </div>
    <div class="border-bottom pb-3 mb-3">
        <div class="">
            <span class="fs-5 align-middle me-2">Meal Planner</span>
            <button type="button" class="btn btn-outline-primary" id="addmeal" data-bind="click: AddMeal">
                <i data-feather="plus"></i><span class="ms-2">Add Meal</span>
            </button>
        </div>
    </div>
    <div id="mealplanner" class="mb-3">
        <div class="row">
            <div class="col-md-3">
                <table class="table table-striped border">
                    <thead>
                        <tr>
                            <th colspan="2">Total Daily Targets</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Calories (kcal)</td>
                            <td data-bind="text: DayCalorieDisplay"></td>
                        </tr>
                        <tr>
                            <td>Protein (g)</td>
                            <td data-bind="text: ProteinGramsTarget"></td>
                        </tr>
                        <tr>
                            <td>Carbohydrates (g)</td>
                            <td data-bind="text: CrabsGramsTarget"></td>
                        </tr>
                        <tr>
                            <td>Sugars (g)</td>
                            <td data-bind="text: SugarGramsTarget"></td>
                        </tr>
                        <tr>
                            <td>Fat (g)</td>
                            <td data-bind="text: FatGramsTarget"></td>
                        </tr>
                        <tr>
                            <td>Saturated Fat (g)</td>
                            <td data-bind="text: SaturatedFatGramsTarget"></td>
                        </tr>
                        <tr>
                            <td>Unsaturated Fat (g)</td>
                            <td data-bind="text: UnsaturatedFatGramsTarget"></td>
                        </tr>
                        <tr>
                            <td>Fiber (g)</td>
                            <td data-bind="text: FiberGramsTarget"></td>
                        </tr>
                        <tr>
                            <td>Alcohol (g)</td>
                            <td data-bind="text: AlcoholGramsTarget"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9">
                <div class="row" data-bind="foreach: Meals">
                    <div class="col-md-12 mb-3">
                        <div class="card" data-bind="attr: { id : 'meal_' + ($index() + 1)}">
                            <div class="card-header">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title mt-2" data-bs-toggle="collapse" data-bind="attr: { 'data-bs-target' : '#nuttable' + $index() }" style="cursor: pointer">
                                        Meal #<span data-bind="text: $index() + 1">1</span>
                                    </h5>
                                    <span>
                                        <button type="button" class="btn me-2" data-bind="click: $parent.CloneMeal" tabindex="-1">
                                            <i data-feather="copy"></i>
                                        </button>
                                        <button type="button" class="btn" data-bind="click: $parent.RemoveMeal, visible: Id() == '0'" tabindex="-1">
                                            <i data-feather="x"></i>
                                        </button>
                                    </span>                                    
                                </div>
                            </div>
                            <div class="card-body show">
                                <div class="mb-3">
                                    <label class="form-label" for="mealtype">Meal Type</label>
                                    <select class="form-select" id="mealtype" asp-items="Model.MealTypeList" data-bind="value: MealTypeId">
                                    </select>
                                </div>
                                <div class="mb-3 show" data-bind="attr: {id: 'nuttable' + $index() }">
                                    <label class="form-label">Nutritional Targets</label>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td><label class="form-label">Calories (kcal)</label></td>
                                                <td>
                                                    <input type="number" step="0.01" class="form-control" placeholder="Target" data-bind="value: MealCalorieTarget" />
                                                </td>
                                                <td>
                                                    <input type="number" step="0.01" class="form-control" placeholder="Min" data-bind="value: MealCalorieMin" />
                                                </td>
                                                <td>
                                                    <input type="number" step="0.01" class="form-control" placeholder="Max" data-bind="value: MealCalorieMax" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Protein (g)</td>
                                                <td colspan="3">
                                                    <input type="number" step="0.01" class="form-control" placeholder="Protein (g)" data-bind="value: ProteinGramsTarget" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Carbohydrates (g)</td>
                                                <td colspan="3">
                                                    <input type="number" step="0.01" class="form-control" placeholder="Carbohydrates (g)" data-bind="value: CrabsGramsTarget" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Sugars (g)</td>
                                                <td colspan="3">
                                                    <input type="number" step="0.01" class="form-control" placeholder="Sugars (g)" data-bind="value: SugarGramsTarget" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Fat (g)</td>
                                                <td colspan="3">
                                                    <input type="number" step="0.01" class="form-control" placeholder="Fat (g)" data-bind="value: FatGramsTarget" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Saturated Fat (g)</td>
                                                <td colspan="3">
                                                    <input type="number" step="0.01" class="form-control" placeholder="Saturated Fat (g)" data-bind="value: SaturatedFatGramsTarget" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Unsaturated Fat (g)</td>
                                                <td colspan="3">
                                                    <input type="number" step="0.01" class="form-control" placeholder="Unsaturated Fat (g)" data-bind="value: UnsaturatedFatGramsTarget" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Fiber (g)</td>
                                                <td colspan="3">
                                                    <input type="number" step="0.01" class="form-control" placeholder="Fiber (g)" data-bind="value: FiberGramsTarget" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Alcohol (g)</td>
                                                <td colspan="3">
                                                    <input type="number" step="0.01" class="form-control" placeholder="Alcohol (g)" data-bind="value: AlcoholGramsTarget" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" id="formsubmit" class="btn btn-primary" data-bind="click: SubmitModel, enable: IsSubmitEnabled">Save</button>
    </div>
</div>

@section Scripts {
    <script asp-src-include="~/lib/knockout/knockout-latest.min.js,~/lib/managed/foodplan_edit.js"></script>
    <script>
        window["editfoodplan_options"] = {
            UserId: @Model.CurrentUser.Id,
            DayId: @Model.Id,
            CopyMode: @Model.IsCopy.ToString().ToLower()
        };
    </script>
}